@using MyNotes.BusinessLayer
@*@using MyNotes.WebMVC.Models*@

@{
    CategoryManager cm = new CategoryManager();
    var list = cm.List();
    
}


<div id="category1">
    <p class="lead mt-3">
        <span class="fw-bolder">Kategoriler</span>
    </p>
    <div class="list-group">
        <a href="@Url.Action("Index","Home")" class="list-group-item-action active">
            <span>
                <i class="fas fa-angle-double-right"></i> Tumu
            </span>
        </a>

        @{
            foreach (var cat in list)
            {
                if (@ViewBag.CategoryId != cat.Id)
                {
                    <a href="/Home/ByCategoryId/@cat.Id" id="category-item" title="@cat.Description" class="list-group-item list-group-item-action">
                        <span>
                            <i class="fas fa-angle-double-right"></i>
                        </span> @cat.Title <span style="float:right">@cat.Notes.Count</span>
                    </a>
                }
                else
                {
                    <a href="/Home/ByCategoryId/@cat.Id" id="category-item" title="@cat.Description" class="list-group-item list-group-item-action bg-danger text-warning">
                            <span>
                                <i class="fas fa-angle-double-right"></i>
                            </span> @cat.Title <span style="float:right">@cat.Notes.Count</span>
                        </a>
                }

            }
        }



    </div>
</div>
